<div>
    <form action="authentication/logout" method="post">
        <AntiforgeryToken />
        <mgt-login class="login"></mgt-login>
    </form>
</div>
<script type="text/javascript">
    document.querySelector('mgt-login').addEventListener('logoutInitiated', () => {
        document.querySelector('form').requestSubmit();
    });
</script>